html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url("./images/bg-intro-desktop.png"), #ff7a7a; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: "Poppins", sans-serif;
  }

form[method="post"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em; 
}

form[method="post"] .text {
    width: 300px;
    color: white;
    font-family: "Poppins", sans-serif;
}

.inputForm {
    width: 300px;
    height: 300px;
    box-shadow: 0px 0.45em 0px 0px #df6d6d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    border-radius: 8px;
    padding: 0.3em 1.5em;
    background-color: white;
    font-size: 0.8em;
}

.inputForm input:not([type=submit]) {
    border: 1px solid #e4e2e2;
    border-radius: 4px;
}

input[type="text"]::placeholder{
    color: rgb(102, 102, 102);
    font-weight: bold;
}

input[type="text"]{
    width: 280px
}

.inputForm input[type="text"]{
    padding: 8px;
}

button {
    background-color: #38cc8c;
    box-shadow: 0px 0.3em 0px 0px #2da16e;
    border: none; 
    color: white;
    border-radius: 4px;
    letter-spacing: 1px;
    padding-top: 6px;
    font-weight: lighter;
    cursor: pointer;
    padding: 7px;
    width: 300px;
}

.joinButton button[type="submit"][name="join"]{
    background-color: #6055a5;
    box-shadow: 0px 0.3em 0px 0px #453c83;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0; 
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: medium;
}

a {
    color: inherit; /* Inherits the color from the parent element */
    text-align: center;
}

.chatBox {
    background-color: aliceblue;
    position: relative; 
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    box-shadow: 0px 0.3em 0px 0px #df6d6d;
    box-sizing: border-box;
}

.chatBox h3 {
    margin: 10px 0 10px 0; /* create space below the heading */
    text-align: center;
}

.messages {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto; /* Scroll if content overflows */
    padding: 10px;
    box-sizing: border-box;
}

.text{
    padding: 2px;
    border-top: 0.5px solid gray; /* Top border */
    border-bottom: 0.5px solid gray; /* Bottom border */
}

.muted{
    color: gray;
}

.inputs {
    padding: 10px;
}

#sendButton {
    width: 100px;
}

button[onclick="window.location.href='/'"] {
    background-color: #ff7a7a;
    box-shadow: 0px 0.3em 0px 0px #df6d6d;
    margin-bottom: 10px;
}