{% extends 'base.html' %} 
{% block content %}
<form method="post">
    <h3> Enter a chatterBox </h3>
    <div class="getName">
        <strong>Name:</strong>
        <input type="text" placeholder="Choose a name!" name="name" value="{{name}}"/>
    </div>
    <div class="join">
        <input type="text" placeholder="Room Code" name="roomCode" value="{{roomCode}}"/>
        <button type="submit" name="join"> Join a Room </button>
    </div>
    <button type="submit" name="create"> Create a Room </button>
</form>
{% endblock %}