{% extends 'base.html' %} 
{% block content %}
<form method="post">
    <h3> Welcome to the chatterBox! </h3>
    <div class="inputForm">
        <div class="getName">
            <input 
                type="text" 
                placeholder="Choose a name!" 
                name="name" 
                value="{{name}}"
            />
        </div>
        <div class="join">
            <input type="text" placeholder="Room Code" name="roomCode" value="{{roomCode}}"/>
            <button type="submit" name="join"> Join a Room </button>
        </div>
        <strong> OR </strong>
        <button type="submit" name="create"> Create a Room </button>
        {% if error %}
        <ul>
            <li> {{error}} </li>
        </ul>
        {% endif %}
    </div>
</form>
{% endblock %}