{% extends 'base.html' %} 
{% block content %}
<form method="post">
    <div class="text">
        <h1> Welcome to the chatterBox </h1>
        <p> Have a friend send you a room code to join! Or create your own room to get a chatterBox started! </p>
    </div>
    <div class="inputForm">
        <div class="getName">
            <input 
                type="text" 
                placeholder="Choose a name" 
                name="name" 
                value="{{name}}"
            />
        </div>
        <input type="text" placeholder="Enter a room code" name="roomCode" value="{{roomCode}}"/>
        <div class="joinButton">
            <button type="submit" name="join"> Join a Room </button>
        </div>
        <strong> OR </strong>
        <button type="submit" name="create"> CREATE A ROOM </button>
        {% if error %}
        <ul>
            <li> {{error}} </li>
        </ul>
        {% endif %}
    </div>
    <div class="footer"> Personal project coded by <a href="https://github.com/1shman" target="_blank">Ishraq Rahman </a> </div>
</form>
{% endblock %}